@import 'modern-normalize/modern-normalize.css';

body {
  margin: 0;
  max-width: 1600px;
}

ul {
  list-style-type: none;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}